@(url: String, actions: Seq[ActionObject]) @main("List of actions:") {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/panels.css")">

<div class="container-fluid">
	@for((action, index) <- actions.zipWithIndex) {
	<div class="row-fluid">
		<div class="span4">
			<ul class="list-unstyled">
				<li>@action.getFilename</li>
				<li>Server Content Type Here</li>
				<li>@action.getMimeType</li>
			</ul>
		</div>
		<div class="span8">

			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="panel-title">@action.getAction</span>
				</div>
				<div class="panel-body">
					<span class="action-image"> @if(!action.getImageUrl.isEmpty) {
						<a href="/@action.getAction/@url"><image class="img-polaroid"
								src="@routes.Assets.at(action.getImageUrl)" /></a> }
					</span>
					<span class="action-description">@action.getDescription</span> <span>
						<button id="go-button-@index" class="btn btn-mini pull-right">GO</button>
						<script>
							$("#go-button-@index").click(function() {
								window.location = "/@action.getAction/@url";
							});
						</script>
					</span>
				</div>
			</div>
		</div>
	</div>
	}
</div>
}

