@(url: String, fileObject: FileObject) @main("List of actions") {
	<script src="@routes.Assets.at("bootstrap/js/modal.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("bootstrap/js/button.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/interject.js")" type="text/javascript"></script>
	
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
		            <ul class="list-unstyled">
			  			<li id="filename">@fileObject.getFilename</li>
			  			<li>Server Content Type Here</li>
			  			<li>@fileObject.getMimeType</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			@for((action, index) <- fileObject.getActions.zipWithIndex) {
				<div class="panel panel-default">
					<div class="panel-heading">
						<span id="action-name-@index" class="panel-title">@action.getAction</span>
					</div>
					<div class="panel-body">
						<span class="action-image"> @if(!action.getImageUrl.isEmpty) {
							<a href="@play.api.Play.current.configuration.getString("application.context")@action.getAction/@url"><image class="img-polaroid"
									src="@routes.Assets.at(action.getImageUrl)" /></a> }
						</span>
						<span class="action-description">@action.getDescription</span>
						<p class="pull-right">
							<button type="button" id="rate-action-plus-@index" class="btn btn-xs btn-success rate-up">+1</button>
							<button type="button" id="rate-action-minus-@index" class="btn btn-xs btn-danger rate-down">-1</button>
							<button type="button" id="go-button-@index" class="btn btn-xs btn-primary button-go">GO</button>
							<span id="action-url-@index" style="display:none;">@play.api.Play.current.configuration.getString("application.context")@action.getAction/@url</span>
						</p>
					</div>
				</div>
			}
		</div>
	</div>
	
	<span id="last-rated" style="display:none;"></span>
	
	<div id="feedback-form" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
		<div class="modal-dialog">
		    <div class="modal-content">
				<div class="modal-header">
					<button id="dismiss-x" type="button" class="close" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="modalTitle">Thanks for you Rating - Please provide Feedback (Optional)</h3>
				</div>
				<div class="modal-body">
					<textarea id="feedback-message" class="form-control"></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" id="feedback-close" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<button type="button" id="feedback-send" class="btn btn-primary">Send</button>
				</div>
			</div>
		</div>
	</div>
}

